<footer class="footer" id="footer">
  <ul class="link-list">
    <li>
      <a href="/resume" rel="noopener noreferrer" target="_blank">RESUME</a>
    </li>
    <li>
      <a
        href="mailto:christian@kaisermann.me"
        rel="noopener noreferrer"
        target="_blank"
      >
        EMAIL
      </a>
    </li>
    <li>
      <a
        href="https://twitter.com/kiwistian"
        rel="noopener noreferrer"
        target="_blank"
      >
        TWITTER
      </a>
    </li>
    <li>
      <a
        href="https://linkedin.com/in/kaisermann"
        rel="noopener noreferrer"
        target="_blank"
      >
        LINKEDIN
      </a>
    </li>
  </ul>
  <div class="js-space-trigger"></div>
</footer>
