<head>
  <meta charset="utf-8" />
  <meta name="description" content="{{ app.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta
    name="google-site-verification"
    content="-AeO98ZKBiyBlJ-1-XKUIaKp1tCLlz6zydEQ-X7P1m8"
  />

  <!--Twitter Card-->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@{{ app.twitter }}" />
  <meta name="twitter:creator" content="@{{ app.twitter }}" />
  <meta name="twitter:url" content="{{ app.baseUrl }}{{ page.url }}" />
  <meta name="twitter:title" content="{{ app.title }}" />
  <meta
    name="twitter:description"
    content="{{content | striptags | truncate(196) }}"
  />
  <meta name="twitter:image" content="{{ app.baseUrl }}{{ app.thumb }}" />

  <!--Schema-->
  <link rel="author" href="{{ app.baseUrl }}" />
  <link rel="publisher" href="{{ app.baseUrl }}" />
  <meta itemprop="name" content="{{ app.title }}" />
  <meta
    itemprop="description"
    content="{{content | striptags | truncate(196) }}"
  />
  <meta itemprop="image" content="{{ app.baseUrl }}{{ app.thumb }}" />

  <!-- Facebook OpenGraph -->
  <meta property="og:url" content="{{ app.baseUrl }}{{ page.url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ app.title }}" />
  <meta property="og:image" content="{{ app.baseUrl }}{{ app.thumb }}" />
  <meta
    property="og:description"
    content="{{content | striptags | truncate(196) }}"
  />
  <meta property="og:site_name" content="{{ app.title }}" />
  <meta property="og:locale" content="en_US" />
  <meta property="article:author" content="{{ app.baseUrl }}" />

  {% include "scripts/webp-avif.njk" %}

  <link
    rel="preload"
    href="/assets/fonts/VCROSDMono.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
  />

  <link rel="preload" as="image" href="/assets/images/rainbow-static.webp" />
  <link rel="preload" as="image" href="/assets/images/effect-static.webp" />
  <link rel="preload" as="image" href="/assets/images/effect-artifacts.webp" />
  <link rel="preload" as="image" href="/assets/images/cursor-default.png" />
  <link rel="preload" as="image" href="/assets/images/cursor-pointer.png" />

  {% assetStylesheet '/assets/main.entry.css' %}

  <link rel="icon" href="/assets/images/favicon.png" />

  {% set titleComplement %} {% if page.url != '/' %} |
  {{
    eleventyNavigation.key
  }}
  {% else %} | web engineer {% endif %} {% endset %}

  <title>kaisermann {{ titleComplement }}</title>
</head>
