{% if build.isProd %}
  <script>
    {% set gtagJS %}
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-75837777-1');
    {% endset %}

    {{ gtagJS | jsmin | safe  }}
  </script>
{% endif %}

<script async src="https://unpkg.com/turbolinks@5.2.0/dist/turbolinks.js"></script>
<script async src="/assets/scripts/main.js" type="module"></script>

{% if build.isProd %}
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-75837777-1"></script>
{% endif %}
