<script async src="/assets/scripts/main.js" type="module"></script>
{% if build.isProd %}
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-75837777-1"
></script>
<script>
  {% set gtagJS %}
  window.dataLayer = window.dataLayer || [];
  function gtag() {dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-75837777-1');
  {% endset %}

  {{ gtagJS | jsmin | safe  }}
</script>
{% endif %}
