<header class="header">
  <div class="header__container">
    <nav class="nav" js-slot="nav">
      {% if page.url == "/"%}
      <ul class="nav__breadcrumb">
        <li>CK</li>
      </ul>
      {% set navPages = collections.headerNav | eleventyNavigation("bio") %}
      <ul class="nav__menu">
        {%- for entry in navPages %}
        <li>
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
        {%- endfor %}
      </ul>
      {% else %} {% set navPages = collections.all |
      eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
      <ul class="nav__breadcrumb">
        {%- for entry in navPages %}
        <li>
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
        {%- endfor %}
        <li
          class="js-text-nav text-nav cursor-pointer"
          contenteditable
          role="textbox"
          aria-label="navigation by text"
          data-original-text="{{ eleventyNavigation.key }}"
        >
          {{ eleventyNavigation.key }}
        </li>
      </ul>
      {% endif %}
    </nav>

    <div class="header__info">
      <div class="js-header-date">JUL 2, 1993</div>
      <div class="js-header-controls"></div>
      <noscript>
        <div role="button">CHANNEL 00</div>
      </noscript>
    </div>
  </div>
</header>
