<div class="nav-wrapper">
  <nav class="nav">
    <div class="">
      <div>
        CK
        {% include '../assets/images/arrow-right.svg' %}
      </div>
    </div>
    <div class="nav__date js-nav-date">XYZ, XX XXXX</div>
  </nav>
</div>
