root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = auto
insert_final_newline = auto

[*.php]
indent_style = space
indent_size = 4

[*.{styl,sass,sss}]
indent_style = tab

[*.txt]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
