[screen-animation='turn-on'] .tv-screen {
  animation: turn-on-transform 0.4s, turn-on-filter 1s;
}

[screen-animation='switch-channel'] .tv-screen {
  animation: switch-channel-filter 0.4s, switch-channel-text-shadow 0.5s ease-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes vline {
  0% {
    transform: translateY(-100%);
  }

  80%,
  100% {
    transform: translateY(100vh);
  }
}

@keyframes turn-on-transform {
  0% {
    transform: scale(1, 0.6) translate(0, 0) skew(2deg);
  }

  6% {
    transform: scale(2) translate(0, -20%) skew(2deg);
  }

  30% {
    transform: scale(1) translate(0, -20%) skew(-2deg);
  }

  50% {
    transform: scale(1, 0.8) translate(0, 90%) skew(-2deg);
  }

  100% {
    transform: scale(1) translate(0, 0) skew(0);
  }
}

@keyframes turn-on-filter {
  0% {
    filter: brightness(1) invert(1) saturate(1.2);
  }

  3% {
    filter: brightness(4) invert(1) saturate(2);
  }

  15% {
    filter: brightness(4) invert(0) saturate(2);
  }

  30%,
  50% {
    filter: brightness(10) invert(0) saturate(1);
  }

  70% {
    filter: contrast(1) brightness(1) invert(0) saturate(1);
  }
}

@keyframes switch-channel-text-shadow {
  0% {
    text-shadow: 6px 3px 0 var(--glitchy-blue), -6px -3px 0 var(--glitchy-red);
  }

  100% {
    text-shadow: var(--shadow-x-distance) calc(var(--shadow-y-distance)) 0
        var(--glitchy-blue),
      calc(var(--shadow-x-distance)) calc(var(--shadow-y-distance) * -1) 0
        var(--glitchy-red);
  }
}

@keyframes switch-channel-filter {
  0% {
    filter: brightness(10) invert(1) saturate(0.4);
  }

  30%,
  50% {
    filter: brightness(20) invert(0) saturate(0.4);
  }

  70% {
    filter: brightness(1) invert(0) saturate(0.4);
  }
}

@keyframes moving-stars {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}
