.big-text {
  font-size: var(--font-size-secondary);
  text-transform: uppercase;
}

a {
  position: relative;
  text-decoration: none;
  color: var(--text-secondary);
  transition: background-size 0.2s cubic-bezier(0.29, 0.8, 0.21, 0.63);
  background-image: url(/assets/images/rainbow-static.gif);
  background-position: center center;
  background-size: 90% 0;
  background-repeat: no-repeat;

  &:matches([href^='http'], [href^='mailto'])::after {
    display: block;
    content: attr(href);
    min-width: max-content;
    position: absolute;
    z-index: var(--layer-content-hover);
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 100%;
    left: 0;
    margin-bottom: 0.5rem;
    font-size: 0.6rem;
    visibility: hidden;
    transition: none;
  }

  &:focus {
    outline: none;
    background-size: 100% 100%;

    &::after {
      visibility: visible;
    }
  }

  &:hover {
    cursor: url(../images/cursor-pointer.png) 14 8, auto;
    background-size: 100% 100%;

    &::after {
      visibility: visible;
      transition: visibility 0s 0.7s;
    }
  }
}

.playlist-img {
  opacity: 0.3;
  visibility: hidden;

  &,
  &::before {
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &::before {
    content: '';
    background-image: url(/assets/images/effect-colored-noise.gif);
    transition: opacity 0.4s;
  }

  @nest .playlist-link:not(:hover, :focus) + & {
    /*
     * we use background-image instead of a custom property for the urls
     * because, for some reason, it makes a request for every hover action.
     * this guarantees the images will load only on hover.
     */
    background: none !important;
  }

  @nest .playlist-link:matches(:hover, :focus) + & {
    visibility: visible;

    &::before {
      opacity: 0.2;
    }
  }
}
