.header {
  position: relative;
  min-height: 300px;
  height: 50vh;
  margin-bottom: 2.07rem;
  text-transform: uppercase;
  user-select: none;
}

.header__container {
  position: sticky;
  top: 100px;
}

@media (min-width: 500px) {
  .header__container {
    display: flex;
    justify-content: space-between;
  }

  .header__info {
    text-align: right;
  }
}

.nav__breadcrumb {
  display: flex;
  align-items: center;
  min-height: 28px;

  & li {
    &:not(:last-child)::after {
      content: ' /';
      margin-right: 1ch;
    }

    &:last-child {
      display: flex;
      align-items: center;

      &::after {
        margin-left: 0.5ch;
        content: '►';
        font-size: 1.2em;
      }

      &:focus-within::after {
        visibility: hidden;
      }
    }
  }
}

@media (max-width: 480px) {
  .nav {
    margin-bottom: 2rem;
  }

  .nav__menu li {
    margin-top: 0.6rem;
  }
}

.text-nav {
  position: relative;
  caret-color: transparent;
  user-select: text;

  &:focus {
    outline: none;

    &::before {
      content: '_';
      position: absolute;
      bottom: 0;
      left: calc(var(--caret-position, -9999) * 1ch);
      animation: blink 0.8s step-end infinite;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: flex-end;
  margin-top: 160px;
  padding-bottom: var(--gui-bottom);
}
