.header {
  position: relative;
  height: 50vh;
  margin-bottom: 54px;
}

.nav {
  position: sticky;
  top: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  line-height: 1.34;
}

.footer {
  margin: 160px 0 180px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
/*
.page-content > * {
  opacity: 0;
  animation: flicker 0.3s infinite;
  will-change: opacity;
} */
