.skip-link {
  position: absolute;
  z-index: var(--layer-top);
  top: 0;
  left: 0;

  &:not(:focus) {
    transform: translateX(-100%);
  }
}

.header {
  position: relative;
  min-height: 200px;
  height: 50vh;
  margin-bottom: 2.07rem;
  text-transform: uppercase;
  user-select: none;
}

.header__container {
  position: sticky;
  top: 100px;
}

.header__channel {
  cursor: url(../images/cursor-pointer.png) 14 8, auto;
}

@media (min-width: 481px) {
  .header__container {
    display: flex;
    justify-content: space-between;
  }

  .header__info {
    text-align: right;
  }
}

.nav__breadcrumb {
  display: flex;
  align-items: center;

  & li:not(:last-child)::after {
    content: ' /';
    margin-right: 1ch;
  }

  &::after {
    margin-left: 0.5ch;
    content: '►';
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .nav {
    margin-bottom: 1rem;
  }

  .nav__menu li {
    margin-top: 0.6rem;
  }
}

.footer {
  align-self: flex-end;
  margin-top: 160px;
  padding-bottom: var(--gui-bottom);
}

body[content-invisible] .footer {
  visibility: hidden;
}
