a {
  position: relative;
  text-decoration: none;
  color: var(--text-secondary);

  transition: background-size 0.2s cubic-bezier(0.29, 0.8, 0.21, 0.63);
  background-image: url(/assets/images/rainbow-static.gif);
  background-position: center center;
  background-size: 90% 0;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    background-size: 100% 100%;
  }
}

.bio {
  font-size: 50px;
  text-transform: uppercase;
}
