.space {
  position: relative;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  width: 3840px; /* calc(1920px * 2); */
  height: 2640px; /* calc(1320px * 2); */
}

.tv {
  position: relative;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  margin: 0 auto;
}

.tv-screen {
  height: 100%;

  @nest body.turn-on & {
    animation: turn-on-transform 0.4s, turn-on-filter 1s;
  }
}

.tv-effect--decontrast,
.tv-effect--static,
.tv-effect--artifacts,
.tv-effect--vignette {
  position: absolute;
  z-index: var(--layer-tv-effects);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* colors */
.tv-effect--static {
  background-image: url(/assets/images/effect-colored-noise.gif);
  background-size: cover;
  opacity: 0.1;
}

/* static/noise effect */
.tv-effect--artifacts {
  background-image: url(/assets/images/effect-glitch.gif);
  background-size: cover;
  opacity: 0.4;
}

/* vignette */
.tv-effect--vignette {
  background: radial-gradient(circle, transparent 60%, black 100%), transparent;
}

/* remove some contrast from the webcam */
.tv-effect--decontrast {
  background-color: #fff;
  opacity: 0.2;

  @nest body:not([camera]) & {
    display: none;
  }
}

/* horizontal lines + scan line*/
.tv-effect--crt {
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: var(--layer-tv-effects);
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
  }

  &::before {
    height: 90px;
    background: linear-gradient(
      180deg,
      transparent 0,
      #fffafa26 50%,
      transparent
    );
    animation: vline 8s linear infinite;
  }

  &::after {
    height: 100%;
    background-image: repeating-linear-gradient(
      transparent,
      transparent 6px,
      rgba(255, 255, 255, 0.03) 6px,
      rgba(255, 255, 255, 0.03) 12px
    );
  }
}

.tv-content {
  position: relative;
  z-index: var(--layer-content);
  height: 100%;
  overflow: hidden auto;
  background-color: rgba(0, 0, 0, 0.4);
}
