.tv-effect--decontrast,
.tv-effect--colors,
.tv-effect--static,
.tv-effect--vignette {
  position: absolute;
  z-index: var(--layer-tv-effects);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* colors */
.tv-effect--colors {
  background-image: url(/assets/images/effect-colored-noise.gif);
  background-size: cover;
  opacity: 0.1;
}

/* static/noise effect */
.tv-effect--static {
  background-image: url(/assets/images/effect-glitch.gif);
  background-size: cover;
  opacity: 0.4;
}

/* vignette */
.tv-effect--vignette {
  background: radial-gradient(circle, transparent 60%, black 100%), transparent;
}

[tv-animation='turn-on'] .tv-effect--vignette {
  background: radial-gradient(circle, black 30%, transparent 90%), transparent;
}

body[using-camera] .tv-effect--decontrast {
  background-color: #fff;
  opacity: 0.2;
}

body:not([using-camera]) .tv-effect--decontrast {
  display: none;
}

.tv-videos {
  pointer-events: none;
  z-index: var(--layer-channels);
  overflow: hidden;
}

.tv-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  &[channel='2'],
  &[channel='8'] {
    object-position: center top;
  }
}

.header-rec {
  display: inline-flex;
  align-items: center;

  & span {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.5rem;
    background-color: #f00;
    box-shadow: 3px 0 0 var(--glitchy-blue), -3px 0 0 var(--glitchy-red);
    animation: blink 1.4s step-end infinite;
  }
}

.rec-counter {
  position: absolute;
  z-index: calc(var(--layer-tv-effects) + 1);
  bottom: var(--gui-bottom);
  right: var(--gui-side);
  text-shadow: 3px 0 0 var(--glitchy-blue), -3px 0 0 var(--glitchy-red);
}

body:not([using-camera]) {
  & .header-rec,
  & .rec-counter {
    display: none;
  }
}
