.big-text {
  font-size: var(--font-size-secondary);
  text-transform: uppercase;
}

.button-text {
  /** for backwards compatibility */
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  background: inherit;
  text-transform: inherit;
  text-shadow: inherit;

  /* copy style from parent */
  all: inherit;

  /* overrides */
  padding: 0;
  border: none;
  display: inline;
  color: var(--text-secondary);
  line-height: 0.9;
  appearance: none;
}

a,
.button-text {
  position: relative;
  text-decoration: none;
  color: var(--text-secondary);
  transition: background-size 0.2s cubic-bezier(0.29, 0.8, 0.21, 0.63);
  background-position: center center;
  background-size: 90% 0;
  background-repeat: no-repeat;

  /*
   * gotta put this not here because otherwise it loads
   * the image before running the support script
   */
  @nest html:not(.webp) & {
    background-image: url(/assets/images/rainbow-static.gif);
  }

  @nest html.webp & {
    background-image: url(/assets/images/rainbow-static.webp);
  }

  &:hover {
    @extend .cursor-pointer;
    background-size: 100% 100%;

    &::after {
      visibility: visible;
      transition: visibility 0s 0.7s;
    }
  }

  &:matches([href^='http'], [href^='mailto'])::after {
    display: block;
    content: attr(href);
    min-width: max-content;
    position: absolute;
    z-index: var(--layer-content-hover);
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 100%;
    left: 0;
    margin-bottom: 0.5rem;
    font-size: 0.6rem;
    visibility: hidden;
    transition: none;
  }

  &:focus {
    outline: none;
    background-size: 100% 100%;

    &::after {
      visibility: visible;
    }
  }
}
