---
layout: layouts/base.njk
textNav:
  aliases: [spotify, music]
eleventyNavigation:
  key: playlists
  parent: bio
---
<article>
  <ul class="playlist-list">
    {% for playlist in playlists -%}
      <li>
        <a class="big-text playlist-link" href="{{playlist.url}}" target="_blank" rel="noopener noreferrer">
          {{playlist.name}}
        </a>
        <div class="playlist-img" style="--image:url({{playlist.image}})"></div>
        <br>
        <small>{{playlist.description | safe}}</small>
      </li>
    {% endfor %}
  </ul>

  <p class="big-text">
    These playlists help me go through my day-to-day life and to focus on literally anything. They are constant work-in-progress.
  </p>
</article>
