<!DOCTYPE html>
<html lang="en">
  {% include "head.njk" %}
  <body class="cursor-default">
    <div class="space">
      <div class="stars"></div>
      <div class="spaceship">
        <div class="tv js-tv">
          <div class="tv-screen js-screen">
            <div class="tv-effects">
              <div class="tv-effect --decontrast"></div>
              <div class="tv-effect --static"></div>
              <div class="tv-effect --artifacts"></div>
              <div class="tv-effect --vignette"></div>
              <div class="tv-effect --crt"></div>
            </div>
            <div class="tv-content js-content">
              <a class="skip-link" href="#content">Skip to content</a>
              <div class="page-container glitchy-text">
                {% include 'header.njk' %}

                <div class="page-content" id="content" js-slot="content">
                  {{ content | safe }}
                </div>

                {% include 'footer.njk' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="js-remote"></div>

    {% include "scripts/general.njk" %}
    {% include "scripts/analytics.njk" %}
  </body>
</html>
