<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/main.css">

    <title>{{ title or app.title }}</title>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-75837777-1');
    </script>
  </head>
  <body {% if bodyClass %} class="{{ bodyClass }}" {% endif %}>

    <video class="page-background" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop">
      <source src="/assets/images/static.webm" type="video/webm"/>
      <source src="/assets/images/static.mp4" type="video/mp4"/>
    </video>

    <div class="container">
      {% include 'header.njk' %}

      <div class="page-content">
        {{ content | safe }}
      </div>

      {% include 'footer.njk' %}
    </div>

    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-75837777-1"></script>
  </body>
</html>
