<!doctype html>
<html lang="en">
  {% include "head.njk" %}
  <body>
    <a class="skip-link" href="#content">Skip to content</a>

    <div class="page__wrapper js-tv-animation" tv-animation="turn-on">
      <div class="tv-videos js-tv"></div>
      <div class="tv-effects">
        <div class="tv-effect--decontrast"></div>
        <div class="tv-effect--colors"></div>
        <div class="tv-effect--static"></div>
        <div class="tv-effect--vignette"></div>
      </div>
      <div class="page__foreground">
        <div class="page__container">
          {% include 'header.njk' %}

          <div class="page__content" id="content">
            {{ content | safe }}
          </div>

          {% include 'footer.njk' %}
        </div>
      </div>
    </div>

    <script>
      {% set dateJS %}
      document
        .querySelector('.js-header-date')
        .innerHTML = new Intl
        .DateTimeFormat('en-US', {
          month: 'short',
          day: 'numeric',
          year: 'numeric'
        })
        .format(new Date()){% endset %}

        {{ dateJS | jsmin | safe  }}
    </script>
    <script async src="/assets/scripts/main.js" type="module"></script>
    {% if build.isProd %}
      <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-75837777-1"></script>
    {% endif %}
  </body>
</html>
