<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{{ app.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/assets/images/favicon.png" />
    <link
      rel="stylesheet"
      href="{{ '/styles/reset.entry.css' | asset | url }}"
    />
    <link rel="stylesheet" href="{{ './entry.css' | asset | url }}" />

    {% set titleComplement = eleventyNavigation.title %}

    <title>kaisermann LAB | {{ titleComplement }}</title>
  </head>

  <body>
    {{ content | safe }}
    <script async type="module" src="{{ './entry.js' | asset | url }}"></script>
  </body>
</html>
