<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{{ app.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/assets/images/favicon.png" />

    {% assetStylesheet '/assets/styles/lab/reset.entry.css' %}
    {% assetStylesheet './entry.css' %}

    {% set titleComplement = eleventyNavigation.title %}

    <title>kaisermann LAB | {{ titleComplement }}</title>
  </head>

  <body>
    {{ content | safe }}

    {% assetScript './entry.js' %}

    {% include "scripts/analytics.njk" %}
  </body>
</html>
