<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/styles/markdown.css">
    <title>kaisermann {{titleComplement}}</title>
    {% include "head-scripts.njk" %}
  </head>
  <body>
    <article class="markdown-body">
      {{ content | safe }}
    </article>
  </body>
</html>
