<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Christian Kaisermann - Resume">

    <link rel="stylesheet" href="/assets/styles/markdown.css">

    <title>kaisermann's resume</title>
    {% include "head-scripts.njk" %}
  </head>
  <body>
    <article class="markdown-body">
      {{ content | safe }}
    </article>
  </body>
</html>
