<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Christian Kaisermann - Resume" />

    {% assetStylesheet '/assets/styles/markdown.entry.css' %}

    <title>kaisermann's resume</title>
  </head>
  <body>
    <article class="markdown-body">
      {{ content | safe }}
    </article>

    {% include "scripts/analytics.njk" %}
  </body>
</html>
