---
layout: layouts/lab.njk
tags: lab
eleventyNavigation:
  title: noita particles
description:
  "Loosely based on <a href='https://www.youtube.com/watch?v=VLZjd_Y1gJ8'>this video</a> by John Jackson."
---

<canvas class="canvas"></canvas>
