{% if build.isProd %}
<script async src="https://rum.cronitor.io/script.js"></script>

<script>
  {% set analytics %}
    window.cronitor =
      window.cronitor ||
      function () {
        (window.cronitor.q = window.cronitor.q || []).push(arguments);
      };
    cronitor('config', { clientKey: '996d0a943006f43ca8e6f82d5fafbb95' });
  {% endset %}

  {{ analytics | jsmin | safe }}
</script>
{% endif %}
