<script>
  {% set footerJs %}
    function setDate(){
      let el = document.querySelector('.js-header-date')
      if(!el) return;
      el.innerHTML = new Intl
      .DateTimeFormat('en-US', {
        month: 'short',
        day: 'numeric',
        year: 'numeric'
      })
      .format(new Date())
    }
    window.addEventListener('contentChange', setDate)
    setDate()
  {% endset %}

    {{ footerJs | jsmin | safe  }}
</script>

<script async src="/assets/scripts/main.js" type="module"></script>
