<!-- from https://github.com/djpogo/avif-webp-css-support/ -->

<script>
  {% set code %}
  (function (document) {
    'use strict';

    const webpImage = 'data:image/webp;base64,UklGRi4AAABXRUJQVlA4TCEAAAAvAUAAEB8wA' + 'iMwAgSSNtse/cXjxyCCmrYNWPwmHRH9jwMA';
    const avifImage = 'data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZtaWYxbWlhZk1BMUEAAADybWV0YQAAAAAAAAAoaGRscgAAAAAAAAAAcGljdAAAAAAAAAAAAAAAAGxpYmF2aWYAAAAADnBpdG0AAAAAAAEAAAAeaWxvYwAAAABEAAABAAEAAAABAAABGgAAAF0AAAAoaWluZgAAAAAAAQAAABppbmZlAgAAAAABAABhdjAxQ29sb3IAAAAAamlwcnAAAABLaXBjbwAAABRpc3BlAAAAAAAAAAIAAAACAAAAEHBpeGkAAAAAAwgICAAAAAxhdjFDgS0AAAAAABNjb2xybmNseAACAAIAAIAAAAAXaXBtYQAAAAAAAAABAAEEAQKDBAAAAGVtZGF0EgAKBzgAPtAgIAkyUBAAAPWc41TP///4gHBX9H8XVK7gGeDllq8TYARA+8Tfsv7L+zPE24eIoIzE0WhHbrqcrTK9VEgEG/hwgB5rdCbvP8g3KYPdV88CvPJnptgQ';

    function alreadyTested(format) {
      if (!!window.sessionStorage) {
        return JSON.parse(window.sessionStorage.getItem(format + 'Support'));
      }
      return null;
    }

    function testFormat(format, imageSrc, callback) {
      const tested = alreadyTested(format);

      if (tested === null) {
        const image = new Image();

        image.onload = image.onerror = function () {
          callback(format, image.height === 2);
        };

        image.src = imageSrc;

        return;
      }

      addClass(format, tested);
    };

    function addClass(format, support) {
      if (support) {
        document.documentElement.classList.add(format);
      }
      window.sessionStorage.setItem(format + 'Support', support);
    }

    testFormat('webp', webpImage, addClass);
    testFormat('avif', avifImage, addClass);
  })(document);
  {% endset %}

  {{ code | jsmin | safe }}
</script>
