.playlist-list {
  margin-bottom: 2rem;

  & li {
    margin-bottom: 1.4rem;
  }
}

.playlist-img {
  opacity: 0.3;
  visibility: hidden;

  &,
  &::before {
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &::before {
    content: '';
    background-image: url(/assets/images/effect-static.gif);
    transition: opacity 0.4s;

    @nest html.webp & {
      background-image: url(/assets/images/effect-static.webp);
    }
  }

  @nest .playlist-link:matches(:hover, :focus) + & {
    visibility: visible;
    background-image: var(--image);

    &::before {
      opacity: 0.2;
    }
  }
}
