.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.4rem;

  /* title */
  & a {
    font-size: var(--font-size-secondary);
    line-height: 1;
    text-transform: uppercase;
  }

  /* description */
  & small {
    display: block;
    color: var(--text-primary);
    font-size: var(--font-size-primary);
  }

  @media (min-width: 580px) {
    grid-template-columns: 1fr 1fr;
  }
}
