---
layout: layouts/lab.njk
tags: lab
eleventyNavigation:
  title: ray marching
description: Loosely based on this <a href="https://www.youtube.com/watch?v=Cp5WWtMoeKg">video</a> by Sebastian Lague. The effect is so cool.
---

<canvas class="canvas"></canvas>
