---
layout: layouts/lab.njk
tags: lab
eleventyNavigation:
  title: ray marching
description: Loosely based on <a href='https://www.youtube.com/watch?v=Cp5WWtMoeKg'>this video</a> by Sebastian Lague.
instructions: Use WASD to move, arrows/mouse to aim. Have fun!
---

<canvas class="canvas"></canvas>
