.text-nav {
  position: relative;
  caret-color: transparent;
  user-select: text;

  &:focus {
    outline: none;

    &::before {
      content: '_';
      position: absolute;
      bottom: 0;
      left: calc(var(--caret-position, -9999) * 1ch);
      animation: blink 0.8s step-end infinite;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: flex-end;
  margin-top: 160px;
  padding-bottom: var(--gui-bottom);
}
