body.loading-channel {
  & .tv-screen {
    filter: brightness(5) saturate(0.2) contrast(1.1);
  }

  & .tv-effect--static {
    opacity: 0.4;
  }

  & .tv-effect--artifacts {
    opacity: 0.7;
  }
}

body.loading-page {
  & .tv-effect--static {
    opacity: 0.6;
    filter: saturate(0.6) brightness(2);
  }

  & [js-slot] {
    pointer-events: none;
    opacity: 0.4;
    filter: blur(2px);
  }
}

.stars {
  @nest body[space] & {
    animation: moving-stars 117s linear infinite;
    background-image: url(/assets/images/stars.webp);
  }
}

.spaceship {
  @nest body[space='floating'] & {
    animation: float 6s ease-in-out infinite;
  }
}

.tv {
  --spaceIntro: 0.8s;
  --spaceOutroDelay: 0.2s;
  transform-origin: center 10%;
  transition: box-shadow 0.6s ease-out;

  @nest body[space] & {
    --scale: 0.6;
    --startTransform: scale(1) translateY(0);
    --endTransform: scale(var(--scale)) translateY(80px);
    animation-duration: var(--spaceIntro);
    animation-timing-function: cubic-bezier(0.72, 0.27, 0, 1);
    animation-fill-mode: both;

    @media (max-width: 900px) {
      --scale: 0.9;
      transition: height var(--spaceIntro) ease;
      will-change: height, transform;
    }
  }

  @nest body:matches([space='floating'], [space='exiting']) & {
    box-shadow: 0px 0px 50px 1px rgba(255, 255, 255, 0.2);
  }

  @nest body:matches([space='entering'], [space='floating']) & {
    animation-name: go-to-space;

    @media (max-width: 900px) {
      height: calc(90vw / 16 * 10);
    }
  }

  @nest body[space='exiting'] & {
    transform: var(--endTransform);
    animation-name: exit-space;
    animation-delay: var(--spaceOutroDelay);

    @media (max-width: 900px) {
      transition-delay: var(--spaceOutroDelay);
    }
  }
}

.tv-effect--vignette {
  @nest body[channel-loading='turn-on'] & {
    background: radial-gradient(circle, black 30%, transparent 90%), transparent;
  }
}
