html
  font-size: app.baseFontSize
  font-family: fonts.main
  line-height: 1.4

  +below(xs)
    line-height: 1.6
    font-size: 18px

body
  background-color: colors.black
  color: colors.white
  overflow-x: hidden
  animation: turn-on 2s linear

h2
  font-size: 22px
  margin-bottom: 5px
  margin-top: 55px

p
  max-width: 900px
  margin-bottom: 25px

  +below(xs)
    margin-bottom: 15px

ul
  margin-bottom: 25px

  li
    margin-bottom: 5px

    +below(xs)
      margin-bottom: 25px

small
  font-size: 16px
