*
*:after
*:before
	box-sizing: border-box

html
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
	font: 16px/1 sans-serif

body
	margin: 0
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased

blockquote
figure
h1
h2
h3
h4
ol
p
ul
	margin: 0
	padding: 0

li
main
	display: block

h1
h2
h3
h4
h5
h6
	font-size: inherit

strong
	font-weight: bold

a
button
	transition: .3s all ease
	color: inherit

a
	text-decoration: none

button
input
textarea
	margin: 0
	border-radius: 0
	-webkit-appearance: none
	
	&:focus
	&:focus:active
		outline: none


button
	font: inherit
	overflow: visible
	cursor: pointer
	letter-spacing: inherit
	border: 0
	background: none
	-webkit-font-smoothing: inherit

::-moz-focus-inner
	padding: 0
	border: 0

:focus
	outline: 0

img
	max-width: 100%
	height: auto
	border: 0
