//@stylint off
/* Optimized for css file size */
*
*:after
*:before
  box-sizing: border-box

html
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  font: 16px / 1 sans-serif

body
  margin: 0
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

h1
h2
p
ul
  margin: 0
  padding: 0

li
main
  display: block

h1
h2
  font-size: inherit

strong
  font-weight: bold

a
  transition: .3s all ease
  text-decoration: none
  color: inherit
//@stylint on
