colors = {
  white: #fff
  black: #000
  lastfmRed: #B20000
  linkedinBlue: #0077B5
  neonGreen: darken(#37FDFC, 40%)
  spotifyGreen: #1DB954
  twitterBlue: #4099FF
  stoneGreen: #95C93F
}

fonts = {
  main: unquote('Courier New, Courier, monospace')
}

layers = {
  content: 3
  underlineStatic: -1
  underline: -2
  siteBackground: 0
}
