// Grid configuration
$bps = {
  xs: {
    minWidth: 0
    container: 100%
  }

  sm: {
    minWidth: 768px
    container: 740px
  }

  md: {
    minWidth: 992px
    container: 960px
  }

  lg: {
    minWidth: 1201px
    container: 1170px
  }
}

// No need to modify anything below this line

// Get list of breakpoints
$bpsList = ()
for scaleName, scaleOpts in $bps
  push($bpsList, max(scaleOpts.minWidth - 1, 0))

// Configure rupture to work with rolleiflex breakpoints
rupture = merge(rupture, {
  "base-font-size":        app.baseFontSize
  "scale":                 $bpsList
  "scale-names":           keys($bps)
  "anti-overlap":          true
  "enable-em-breakpoints": false
  "mobile-cutoff":         $bps.sm.minWidth - 1
  "tablet-cutoff":         $bps.md.minWidth - 1
  "desktop-cutoff":        $bps.md.minWidth - 1
  "hd-cutoff":             $bps.lg.minWidth - 1
})
