// font-face(fontName, '../fonts/fontPath', fontWeight, fontStyle)
// font-face(fontName2, '../fonts/fontPath2', fontWeight, fontStyle)
// font-face(fontName3, '../fonts/fontPath3', fontWeight, fontStyle)
