---
layout: layouts/base.njk
textNav:
  aliases: [home, index]
eleventyNavigation:
  key: bio
  title: CK
---
<article class="bio">
  <p class="big-text">
    Hi! I'm <span class="bio__photo" tabindex="0">Christian Kaisermann</span>, a <button class="button-text js-channel-trigger" data-channel="8">Carioca</button> based in Berlin, web engineer, CSS enthusiast and avid open-sourcerer.
    <br/><br/>
    Currently, I'm focused on improving the last-mile delivery experience for <a href="https://www.getcircuit.com/" target="_blank" rel="noopener noreferrer">Circuit Routing</a>.
    <br/><br/>
    I'm a very outgoing and curious person, who's passionate about
    <a href="https://github.com/kaisermann" target="_blank" rel="noopener noreferrer">coding</a>,
    photography, nature, cats,
    and
    music. I love to stare at a
    <a href="https://justgetflux.com/" target="_blank" rel="noopener noreferrer">not-so-bright screen</a>
    while coding on a constant state of
    <a href="https://en.wikipedia.org/wiki/Flow_(psychology)" target="_blank" rel="noopener noreferrer">Flow</a>. Here are some <a href="/playlists">playlists</a> to get you going.
    <br/><br/>
    If you'd like to chat, feel free to reach me by <a href="mailto:christian@kaisermann.me">e-mail</a>.
  </p>
</article>
