---
layout: layouts/base.njk
eleventyNavigation:
  key: bio
  title: CK
---

<article class="bio">
  <p>
    I'm <span class="bio__photo" tabindex="0">Christian Kaisermann</span>,
    <br>
    a web developer from Rio, currently working at <a href="https://www.vtex.com/" target="_blank" rel="noopener">VTEX</a>
    as a software engineer, improving the quality of its front-end infrastructure and workflow, and digital products. I'm a very outgoing, curious, and passionate person who loves
    <a href="https://github.com/kaisermann" target="_blank" rel="noopener">coding</a>,
    <a href="https://instagram.com/kiwistian" target="_blank" rel="noopener">photography, nature</a>,
    and
    <a href="https://www.last.fm/user/chrispif" target="_blank" rel="noopener">music</a>. I love to stare at a
    <a href="https://justgetflux.com/" target="_blank" rel="noopener">not-so-bright screen</a>
    while coding for quite some time on a constant state of
    <a href="https://en.wikipedia.org/wiki/Flow_(psychology)" target="_blank" rel="noopener">Flow</a>
    (here's a
    <a href="https://open.spotify.com/user/12142121799/playlist/1oKT4BwzBziaqIs80UPbJq" target="_blank" rel="noopener">playlist</a>
    to get you going).
    <br><br>
    If you'd like to get in touch, feel free to send me an
    <a href="mailto:christian@kaisermann.me">e-mail</a>
    or maybe a
    <a href="https://twitter.com/kiwistian" target="_blank" rel="noopener">tweet</a>
    or, who knows, a message on
    <a href="https://www.linkedin.com/in/kaisermann/" target="_blank" rel="noopener">linkedin</a>.
  </p>
</article>
