---
layout: layouts/base.njk
tags: headerNav
eleventyNavigation:
  key: open-source
  parent: bio
---
<article>
  <ul class="project-list">
    {% for project in projects.opensource -%}
      <li>
        <a href="{{project.url}}" target="_blank" rel="noopener noreferrer">
          {{project.name}}
        </a>
        <small>{{project.description}}</small>
      </li>
    {% endfor %}
  </ul>
</article>
