---
layout: layouts/base.njk
---

<h2>open source</h2>

<ul>
  {% for project in projects.opensource -%}
    <li>
      <a href="{{project.url}}" target="_blank" rel="noopener noreferrer">
        {{project.name}}
      </a>
      <small>{{project.desc}}}</small>
    </li>
  {% endfor %}
</ul>

<h2>websites</h2>

<ul>
  {% for project in projects.sites -%}
    <li>
      <a href="{{project.url}}" target="_blank" rel="noopener noreferrer">
        {{project.name}}
      </a>
      <small>{{project.desc}}}</small>
    </li>
  {% endfor %}
</ul>
