---
layout: layouts/base.njk
eleventyNavigation:
  key: playlists
  parent: bio
---
<article>
  <ul class="playlist-list">
    {% for playlist in playlists -%}
      <li>
        <a class="big-text" href="{{playlist.url}}" target="_blank" rel="noopener noreferrer">
          {{playlist.name}}
        </a>
        <br>
        <small>{{playlist.description}}</small>
      </li>
    {% endfor %}
  </ul>

  <p class="big-text">
    These playlists help me go through my day-to-day life and to focus on literally anything. They are constant work-in-progress.
  </p>
</article>

<script>
window.onSpotifyWebPlaybackSDKReady = () => {
  const token = 'BQDYGEgZbhiFITqLvA0XCjdwr2A_-zMJRK2-h56yWS4jPdcQXr83cekCKraIauJdPLw7MvMh-ep-uymLNSCbLKuEAH0M_hb6bhErnqlhvNqHe7u3GTTV08JSwkv845iYKl-FPOQNfkhNUb-DLdDk2ztMQg73GKtVey4e';
  const player = new Spotify.Player({
    name: 'Web Playback SDK Quick Start Player',
    getOAuthToken: cb => { cb(token); }
  });

  // Error handling
  player.addListener('initialization_error', ({ message }) => { console.error(message); });
  player.addListener('authentication_error', ({ message }) => { console.error(message); });
  player.addListener('account_error', ({ message }) => { console.error(message); });
  player.addListener('playback_error', ({ message }) => { console.error(message); });

  // Playback status updates
  player.addListener('player_state_changed', state => { console.log(state); });

  // Ready
  player.addListener('ready', ({ device_id }) => {
    console.log('Ready with Device ID', device_id);
  });

  // Not Ready
  player.addListener('not_ready', ({ device_id }) => {
    console.log('Device ID has gone offline', device_id);
  });

  // Connect to the player!
  player.connect();
};
</script>
