:root {
	--twitter: #4099ff;
	--vtex: #f71963;
	--stone: #95c93f;
	--spotify: #1db954;
	--lastfm: #b20000;
	--linkedin: #0077b5;
	--svelte: #ff3e00;
	--instagram: transparent
		radial-gradient(
			circle at 33% 100%,
			#fed373 4%,
			#f15245 30%,
			#d92e7f 62%,
			#9b36b7 85%,
			#515ecf
		);
}

*,
:after,
:before {
	box-sizing: border-box;
}

html {
	--font-size: 18px;
	--line-height: 1.6;
	font-family: Courier New, Courier, monospace;
	font-size: var(--font-size);
	line-height: var(--line-height);
}

body {
	animation: turn-on 2s linear;
}

h1,
h2,
p,
ul {
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 22px;
	margin-bottom: 5px;
	margin-top: 55px;
}

li,
main {
	display: block;
}

strong {
	font-weight: 700;
}

small {
	font-size: 0.7em;
}

a {
	transition: color 0.3s ease;
	text-decoration: none;
	color: inherit;
}

p {
	max-width: 900px;
}

p,
ul {
	--margin: 25px;
	margin-bottom: var(--margin);
}

ul {
	max-width: 1540px;
}

li {
	margin-bottom: 5px;
}

.page-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-image: url(./images/static.gif); */
	/* background-size: cover; */
	object-fit: cover;
	opacity: 0.06;
}

.page-background::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	background: linear-gradient(
		180deg,
		transparent 0,
		snow 50%,
		hsla(0, 0%, 100%, 0.98) 51%,
		transparent
	);
	animation: vline 8s linear infinite;
	will-change: transform;
	opacity: 0.8;
}

.page-content a {
	--link-color: #fff;
	--link-color-hover: #000;
	--link-bg: #fff;
	position: relative;
	padding: 0 2px;
	word-wrap: break-word;
	color: var(--link-color);
}

.page-content a:after {
	opacity: 0.2;
}

.page-content a:hover {
	color: var(--link-color-hover);
}

.page-content a:hover:before {
	z-index: -2;
	height: 100%;
}

.page-content a:hover:after {
	z-index: -1;
	height: 100%;
}

.page-content a[href*='twitter.com'] {
	--link-bg: var(--twitter);
	--link-color-hover: #fff;
}

.page-content a[href*='vtex'] {
	--link-bg: var(--vtex);
	--link-color-hover: #fff;
}

.page-content a[href*='stone'] {
	--link-bg: var(--stone);
}

.page-content a[href*='spotify.com'] {
	--link-bg: var(--spotify);
	--link-color-hover: #fff;
}

.page-content a[href*='last.fm'] {
	--link-bg: var(--lastfm);
	--link-color-hover: #fff;
}

.page-content a[href*='linkedin'] {
	--link-bg: var(--linkedin);
	--link-color-hover: #fff;
}

.page-content a[href*='svelte'] {
	--link-bg: var(--svelte);
	--link-color-hover: #fff;
}

.page-content a[href*='instagram'] {
	--link-color-hover: #fff;
	--link-bg: var(--instagram);
}

.page-content {
	position: relative;
	z-index: 3;
	padding: 50px;
	opacity: 0;
	animation: glitch 1s linear infinite, flicker 0.3s infinite;
	will-change: transform, opacity;
	text-shadow: 2px 2px 0 rgba(2, 183, 182, 0.6),
		-2px -2px 0 rgba(183, 2, 2, 0.6);
}

@media only screen and (max-width: 767px) {
	p {
		--margin: 15px;
	}

	ul li {
		margin-bottom: calc(var(--margin) / 2);
	}

	li small {
		display: block;
		margin: 2px 0 0;
	}

	.page-content a {
		color: var(--link-color-hover);
		background: var(--link-bg);
		text-shadow: none;
		box-shadow: 0 0 20px 2px #02b7b6;
	}

	.page-content a:hover {
		background-size: 100% 100%;
	}

	.page-content {
		padding: 50px 25px;
	}
}

@media only screen and (min-width: 768px) {
	.page-content a {
		display: inline-block;
	}

	.page-content a::after,
	.page-content a::before {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: var(--link-bg);
		transition: height 0.3s ease;
		z-index: -1;
	}
	.page-content a::after {
		z-index: -2;
		background-image: url(./images/rainbow-static.gif);
		background-position: 50%;
		opacity: 0.5;
	}

	ul {
		column-count: 2;
		column-gap: 24px;
	}

	ul li {
		break-inside: avoid-column;
		page-break-inside: avoid;
		margin-bottom: 1rem;
	}

	ul li small {
		display: block;
		margin-top: 0.4rem;
	}
}

@media only screen and (min-width: 1024px) {
	html {
		--font-size: 22px;
		--line-height: 1.4;
	}

	ul {
		column-count: 3;
	}
}

@media (prefers-reduced-motion: reduce) {
	body,
	.page-content {
		animation: none;
	}

	.page-background:before,
	.page-background:after {
		display: none;
	}

	.page-content {
		opacity: 1;
	}

	.page-content a,
	.page-content a::before,
	.page-content a::after {
		transition: none;
	}

	.page-content a:hover {
		text-shadow: none;
	}

	.page-content a::after {
		background: none;
	}
}

@keyframes vline {
	0% {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(100vh);
	}
}

@keyframes flicker {
	0% {
		opacity: 0.95;
	}
	25% {
		opacity: 0.9;
	}
	50% {
		opacity: 1;
	}
	to {
		opacity: 0.85;
	}
}

@keyframes glitch {
	0% {
		transform: scaleY(1.002);
	}
	50% {
		transform: scaleY(1.0001);
	}
	to {
		transform: scaleX(1.001);
	}
}

@keyframes turn-on {
	0% {
		transform: scaleY(0.8) translateZ(0);
		filter: brightness(30);
		opacity: 1;
	}

	3.5% {
		transform: scaleY(0.8) translate3d(0, 100%, 0);
	}

	3.6% {
		transform: scaleY(0.8) translate3d(0, -100%, 0);
		opacity: 1;
	}

	14% {
		transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
		filter: brightness(30);
		opacity: 0;
	}

	25% {
		transform: scale(1) translateZ(0);
		filter: contrast(0) brightness(0);
		opacity: 0;
	}

	to {
		transform: scale(1) translateZ(0);
		filter: contrast(1) brightness(1.2) saturate(1.3);
		opacity: 1;
	}
}
