@import './partials/reset.css';
@import './partials/fonts.css';
@import './partials/animations.css';
@import './partials/page.css';
@import './partials/content.css';
@import './pages/index.css';
@import './pages/playlists.css';
@import './pages/projects.css';
@import './partials/tv.css';

:root {
  --text-primary: #a0a0a0;
  --text-secondary: #fff;

  --font-primary: 'VCR OSD Mono', monospace;
  --font-size-primary: clamp(13px, 1.8vw, 34px);
  --font-size-secondary: 1.941176470588235rem;
  --line-height: 1.4;

  --layer-top: 55;
  --layer-me-hover: 34;
  --layer-content-hover: 21;
  --layer-content: 13;
  --layer-tv-effects: 8;
  --layer-channels: 5;

  --glitchy-blue: rgba(2, 183, 182, 0.4);
  --glitchy-red: rgba(183, 2, 2, 0.4);
  --container-width: 80%;
  --gui-side: calc((100% - var(--container-width)) / 2);
  --gui-bottom: 2.94117647059rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #28272a;
}

::selection {
  background-color: #fff;
  color: #000;
}

html {
  font-family: var(--font-primary);
  font-weight: normal;
  font-style: normal;
  color: var(--text-primary);
  font-size: var(--font-size-primary);
  line-height: var(--line-height);
}

body {
  background-color: #000;
  overflow: hidden;
}

.page__content {
  @nest body.hide-content & {
    visibility: hidden;
  }
}

.page__container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 100%;
  min-height: 100vh;
  width: var(--container-width);
  margin: 0 auto;
}

.glitchy-text {
  --shadow-x-distance: 2px;
  --shadow-y-distance: 1px;
  text-shadow: var(--shadow-x-distance) var(--shadow-y-distance) 0
      var(--glitchy-blue),
    calc(var(--shadow-x-distance) * -1) calc(var(--shadow-y-distance) * -1) 0
      var(--glitchy-red);
}

@media (min-width: 481px) {
  .glitchy-text {
    --shadow-x-distance: 3px;
    --shadow-y-distance: 2px;
  }
}

@media (min-width: 960px) {
  .glitchy-text {
    --shadow-x-distance: 4px;
    --shadow-y-distance: 3px;
  }
}

.cursor-default {
  cursor: url(../images/cursor-default.png) 0 0, auto;
}

.cursor-pointer {
  cursor: url(../images/cursor-pointer.png) 14 8, auto;
}
