@import './partials/reset.css';
@import './partials/fonts.css';
@import './partials/animations.css';
@import './partials/page.css';
@import './partials/content.css';
@import './partials/tv.css';

:root {
  --text-primary: #a0a0a0;
  --text-secondary: #fff;

  --font-primary: 'VCR OSD Mono', monospace;
  --font-size-primary: clamp(13px, 1.8vw, 34px);
  --font-size-secondary: 1.941176470588235rem;
  --line-height: 1.4;

  --layer-top: 55;
  --layer-me-hover: 34;
  --layer-content-hover: 21;
  --layer-content: 13;
  --layer-tv-effects: 8;
  --layer-channels: 5;

  --glitchy-blue: rgba(2, 183, 182, 0.4);
  --glitchy-red: rgba(183, 2, 2, 0.4);

  --container-width: 80%;
  --gui-side: calc((100% - var(--container-width)) / 2);
  --gui-bottom: 2.94117647059rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #28272a;
}

::selection {
  background-color: #fff;
  color: #000;
}

html {
  font-family: var(--font-primary);
  font-weight: normal;
  font-style: normal;
  color: var(--text-primary);
  font-size: var(--font-size-primary);
  line-height: var(--line-height);
  cursor: url(../images/cursor-default.png) 0 0, auto;
}

body {
  background-color: #000;
  overflow: hidden;

  /**
   * we keep these two pseudo-elements outside
   * of the animated element (.page__wrapper).
   * we don't want to explode the brightness of these elements.
   */
  &::before,
  &::after {
    content: '';
    display: block;
    position: fixed;
    z-index: var(--layer-tv-effects);
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
  }

  &::before {
    height: 90px;
    background: linear-gradient(
      180deg,
      transparent 0,
      #fffafa26 50%,
      transparent
    );
    animation: vline 8s linear infinite;
  }

  &::after {
    height: 100%;
    background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.03) 50%,
      transparent 0
    );
    background-size: 100% 0.7ch;
  }
}

.page__wrapper {
  text-shadow: 2px 0 0 var(--glitchy-blue), -2px 0 0 var(--glitchy-red);
}

@media (min-width: 481px) {
  .page__wrapper {
    text-shadow: 3px 0 0 var(--glitchy-blue), -3px 0 0 var(--glitchy-red);
  }
}

.page__foreground {
  position: relative;
  z-index: var(--layer-content);
  height: 100vh;
  overflow: hidden auto;
  background-color: rgba(0, 0, 0, 0.4);
}

[tv-animation='turn-on'] .page__foreground {
  overflow: hidden;
}

body[content-invisible] .page__content {
  display: none;
}

.page__container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  width: var(--container-width);
  margin: 0 auto;
}
