.bio__photo {
  position: relative;
  color: var(--text-secondary);

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: var(--layer-me-hover);
    top: calc(100% + 1em);
    left: 1rem;
    width: 14rem;
    padding-bottom: 14rem;
    visibility: hidden;
    background-size: cover;
  }

  &:hover::after,
  &:focus::after {
    background-image: url(/assets/images/me.jpg);
    transition: visibility 0s 0.2s;
    visibility: visible;
  }
}
